<div class="jumbotron">
	<div class="container">
		<h1>Hello, world!</h1>
	  <p>...</p>
	  <p><a class="btn btn-success btn-lg" href="#" role="button" ><span class=" glyphicon glyphicon-trash glycolor"></span> TRASH</a></p>
  </div>
</div>

<div class="container">
	<div class="row">

		<div class="col-md-4">
			<div class="page-header">
  			<h2 style="display: inline">Example page<span class="label label-default">label</span></h2>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum reiciendis vero commodi tenetur suscipit veritatis quidem atque, deserunt, ut, ab culpa fuga incidunt facilis, voluptates laboriosam laborum officiis et nisi.</p>
		</div>

		<div class="col-md-4">
			<div class="page-header">
	  			<h2>Example page header</h2>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio aut repudiandae iure, rem atque perspiciatis iste fugiat iusto quas delectus sequi. Hic minus dolorum quod assumenda dolore iusto, dolores, alias?</p>
		</div>

		<div class="col-md-4">
			<div class="page-header">
	  			<h2>Example page header</h2>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio aut repudiandae iure, rem atque perspiciatis iste fugiat iusto quas delectus sequi. Hic minus dolorum quod assumenda dolore iusto, dolores, alias?</p>
		</div>

	</div>
</div>

<div class="container">
	<div class="row">
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <%= image_tag("ror.jpg") %>
	      <div class="caption">
	        <h3>Thumbnail label</h3>
	        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, quasi, sed ad inventore dignissimos aut, eveniet nostrum quibusdam vitae nobis doloribus ipsam porro cum tempora nemo, nulla dolorum alias adipisci.</p>
	        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
	      </div>
	    </div>
	  </div>

	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <%= image_tag("ror.jpg") %>
	      <div class="caption">
	        <h3>Thumbnail label</h3>
	        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo possimus fugit similique expedita ab debitis dignissimos vel molestiae deserunt eligendi nihil optio tenetur, placeat, nemo minima modi fuga dolore sed!</p>
	        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
	      </div>
	    </div>
	  </div>


	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <%= image_tag("ror.jpg") %>
	      <div class="caption">
	        <h3>Thumbnail label</h3>
	        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim praesentium perferendis expedita architecto impedit vero eveniet! Nihil doloribus debitis earum corrupti, facilis saepe dolores iste at nam quis laboriosam facere.</p>
	        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
	      </div>
	    </div>
	  </div>

	</div>
</div>